[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/amareshbonam
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/amareshbonam
	label-Verified = -1..+1 group user/amareshbonam
	push = group user/amareshbonam
	read = group user/amareshbonam
	rebase = group user/amareshbonam
	removeReviewer = group user/amareshbonam
	submit = group user/amareshbonam
[access "refs/heads/*"]
	create = group user/amareshbonam
	push = +force group user/amareshbonam
	pushMerge = group user/amareshbonam
	read = group user/amareshbonam
[access "refs/tags/*"]
	push = group user/amareshbonam
	push = +force group user/amareshbonam
